<!-- about-area -->
<section class="about__area-four">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="about__img-four">
                    <img src="https://themedox.com/demo/petpal/assets/img/images/inner_about_img01.jpg" alt="img" data-aos="fade-right" data-aos-delay="400">
                    <img src="https://themedox.com/demo/petpal/assets/img/images/inner_about_img02.jpg" alt="img" data-aos="fade-left" data-aos-delay="600">
                    <div class="shape">
                        <img src="~/assets/img/images/inner_about_shape.png" alt="shape" data-aos="fade-down-left" data-aos-delay="800">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about__content-four">
                    <div class="section__title mb-15">
                        <span class="sub-title">
                            About Us
                            <strong class="shake">
                                <img src="~/assets/img/icon/pet_icon02.svg" alt="" class="injectable">
                            </strong>
                        </span>
                        <h2 class="title">We'll Make Your Pets <br> Really Happy</h2>
                    </div>
                    <p>We will work with you to develop individualised care plans, including management  chronic diseases. We are committed to bein region’s premier healthcare network providing patient.</p>
                    <div class="about__content-inner-two">
                        <div class="experience__box">
                            <div class="experience__box-shape">
                                <img src="~/assets/img/images/experience_shape.svg" alt="" class="injectable">
                            </div>
                            <div class="experience__box-content">
                                <h4 class="title">15 <span>Yr</span></h4>
                                <p>Experience</p>
                            </div>
                        </div>
                        <div class="introducing__list-box introducing__list-box-two">
                            <ul class="list-wrap">
                                <li>
                                    <span class="icon">
                                        <img src="~/assets/img/icon/check_icon02.svg" alt="" class="injectable">
                                    </span>
                                    Over 10 years of experience
                                </li>
                                <li>
                                    <span class="icon">
                                        <img src="~/assets/img/icon/check_icon02.svg" alt="" class="injectable">
                                    </span>
                                    20 talented vets ready to help you
                                </li>
                                <li>
                                    <span class="icon">
                                        <img src="~/assets/img/icon/check_icon02.svg" alt="" class="injectable">
                                    </span>
                                    High-quality products only
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p>We will work with you to develop individualised care plans, including management  chronic diseases. We are committed to bein region’s premier healthcare network providing patient.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-area-end -->
